div#blender {
    font-size: 12px;
    font-family: "Industrywf", sans-serif;
    width: 400px;
    min-width: 256px;
}

.username {
    color: #03214F;
    font-size: 18px;
    font-weight: bold;
}

.type {
    text-transform: uppercase;
    color: #1FBAED;
}
